---
	import HeaderLink from './HeaderLink.astro';
	import { SITE_TITLE } from '../config';
---

<header class="container section">
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://bulma.io">
				<strong class="has-text-primary">Carson McCue</strong>
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbar-menu" class="navbar-menu">
			<div class="navbar-end">
				<HeaderLink href="#about">About</HeaderLink>
				<HeaderLink href="#portfolio">Portfolio</HeaderLink>
				<HeaderLink href="#contact">Contact</HeaderLink>
			</div>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}

	h2 {
		margin: 0.5em 0;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {

		// Get all "navbar-burger" elements
		const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

		// Add a click event on each of them
		$navbarBurgers.forEach(el => {
			el.addEventListener('click', () => {

				// Get the target from the "data-target" attribute
				const target = el.dataset.target;
				const $target = document.getElementById(target);

				// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
				el.classList.toggle('is-active');
				$target.classList.toggle('is-active');

			});
		});

	});
</script>

</script>